language: generic
branches:
  only:
  - master
cache:
  directories:
  - vendor
sudo: required
services:
- docker
install:
- make bootstrap
script:
  - make build test-cover
after_success:
  - bash <(curl -s https://codecov.io/bash)
